body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Body Header */

#body-header {
  height: 65vh;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.562),
      rgba(0, 0, 0, 0.767)
    ),
    url(./assests/cover1.jpg);
  background-size: cover;
  background-position: bo;
  background-attachment: fixed;
  padding-top: 1.2rem;
}

/* Horizontal Lists */

.bars {
  color: white;
  margin: 0;
  margin-right: 5%;
  display: none;
}

.bars i {
  font-size: 2rem;
}

.dropdown-list {
  margin: 0;
  display: none;
  height: 200px;
  z-index: 3;
  padding: 50px 30px;
  padding-bottom: 120px;
  margin: auto;

  background-color: #828470;
  box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul {
  margin: 0.2rem 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list {
  display: block;
  position: absolute;
  right: 3%;
}

.dropdown-list li {
  margin: 0.4rem 0px;
  margin-top: 10px;
}

.no-list-style {
  list-style: none;
}

.no-list-style li {
  font-weight: 100;
  font-size: 0.9rem;
  position: sticky;
}

.no-list-style li a {
  list-style: none;
  color: white;
  text-decoration: none;
}

.horizontal-list {
  padding-left: 0px;
  margin: 30px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 25px 0px 25px;
}

.nav-menu li a {
  font-size: 18px;
  transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-radius: 100px;
  border-bottom: 1px solid black;
}

/* Name and Social Icons*/

#name-social-container {
  margin-top: 20vh;
}

#my-name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*Section Classes*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

section:nth-child(2n) {
  background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
  background-color: white;
}

.section-heading {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
}

.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}

/*About Section*/

#about {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

#my-image {
  height: 12rem;
  padding-bottom: 50px;
  width: 12rem;
  margin: auto;
  margin-top: -17vh;
}

#my-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
  padding: 10px;
  width: 70%;
  text-align: justify;
  color: grey;
  line-height: 28px;
  font-size: 1.1rem;
  margin: auto;
}

/*Skills Section*/

.skills-display {
  width: 75%;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-progress {
  width: 11rem;
  height: 2.2rem;
  background-color: lightgrey;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
  margin: 25px;
  overflow: hidden;
}

.skill-progress > div {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  vertical-align: middle;
}

/* Work Experience */

.timeline {
  position: relative;
  width: 75%;
}

.timeline-box {
  padding: 5px;
  width: 40%;
  min-height: 150px;
  position: relative;
  left: 5%;
  text-align: right;
}

.timeline-box::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  top: 25%;
  border-radius: 50%;
  z-index: 1;
}

.timeline-box:nth-child(2n) {
  left: 53%;
}

.timeline-box:nth-child(2n + 1)::after {
  right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
  left: -9%;
}

.timeline-container {
  padding: 8px;
}

.timeline-logo {
  position: absolute;
  width: 50px;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.timeline-logo > img {
  /* border-radius: 100px; */
  width: 100%;
}

#timeline-divider {
  position: absolute;
  width: 0;
  top: 10%;
  left: 50%;
  border: 1px dashed #0096fa6b;
  height: 65%;
  color: #433e3f;
}

#timeline-divider .timeline-traveller {
  position: sticky;
  top: 135px;
  z-index: 2;
}

#timeline-divider i {
  transform: rotate(90deg);
  margin-top: -35px;
  display: block;
  color: #2857a4;
}

.experience-designation {
  font-size: 1.4rem;
}

.experience-company-name {
  margin: 5px 0 0;
  color: #eb822d;
  font-weight: 400;
  font-size: 1.2rem;
}

.experience-duration {
  color: #9e9b9b;
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}

.experience-description {
  font-size: 14px;
  padding: 2px;
  color: grey;
  line-height: 20px;
}

/* projects Section */

#projects-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-bottom: 20px;

  justify-content: space-around;
}

.projects-image-container {
  width: 410px;
  overflow: hidden;
  margin: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
}

.projects-image-container img {
  width: 100%;
  height: 100%;
}

.projects-details {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  height: 100%;
  color: transparent;
  text-align: center;
  padding: 10px;
  opacity: 0;
  font-weight: 300;
}
.projects-details h1 {
  font-size: 25px;
  font-weight: 500;
}

.projects-image-container:hover {
  box-shadow: 0 0 20px #74adc8;
}

.projects-image-container:hover .projects-details {
  background-color: rgba(26, 25, 25, 0.8);
  color: white;
  opacity: 1;
}

/* Contact Form */

#contact {
  background-color: #0abcf9;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  color: white;
  padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
  color: white;
}

#contact-form {
  margin-left: 20%;
}

#contact-container {
  display: flex;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
}

#contact-form-container {
  width: 50%;
}

#my-details-container p {
  color: #d9dcdd;
  font-size: 0.9rem;
}

.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
  font-size: 1rem;
}

.my-details-info-container span {
  margin-left: 0.4rem;
}

.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
  cursor: pointer;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}

#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Common Text Align Classes */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Common Margin Classes */

.m0 {
  margin: 0;
}

.mb75px {
  margin-bottom: 75px;
}

.mb50px {
  margin-bottom: 50px;
}

/*common color classes */

.text-highlight {
  color: #2857a4;
  font-weight: 600;
}

/* setting background-color */

.m-blue {
  color: #2857a4;
}

.mb-blue {
  background-color: #2857a4;
}

.mb-orange {
  background-color: #ec4d1c;
}

.mb-teal {
  background-color: #0b8176;
}

.mb-light-purple {
  background-color: #93738c;
}

/*Percentage Classes */

.eighty-five-percent {
  height: inherit;
  width: 85%;
}

.eighty-percent {
  height: inherit;
  width: 80%;
}

.fifty-percent {
  height: inherit;
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .timeline-box {
    width: 100%;
    left: 10% !important;
  }

  .bars {
    display: block;
  }

  .nav-menu {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .timeline-box {
    width: 90%;
    left: 10% !important;
  }

  .timeline-box::after {
    left: -9.3% !important;
  }

  #timeline-divider {
    top: 10%;
    left: 2%;
  }

  #contact-form {
    margin-left: 0%;
  }

  #contact-container {
    flex-wrap: wrap;
  }

  #my-details-container {
    width: 80%;
    margin: 10%;
  }

  #contact-form-container {
    width: 80%;
    margin: 10%;
  }
}

input::placeholder {
  color: white;
}

textarea::placeholder {
  color: white;
}

.github {
  background-image: linear-gradient(50deg, #588bdd 0%, #966ef3 74%);
  border: none;
  color: white;
  padding: 10px 10px;

  cursor: pointer;
  font-size: 16px;
}

.github:active {
  transform: translateY(-2px);
}
.LeetCode {
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  height: 17px;
  width: 20px;
}
.LeetCode:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: cyan;
}

/* ------------------------------------------- */
.topnav {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin-top: -20px;
}

.topnav a {
  float: right;
  display: block;
  color: teal;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.topnav a:hover {
  /* background-color: #ddd; */
  color: teal;
}

.topnav a.active {
  background-color: black;
  float: left;
  color: teal;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  /* .topnav.responsive {position: relative;} */
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    position: sticky;
    float: none;
    display: block;
    text-align: left;
  }
}

#gitstats {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#gitstats img {
  width: 100%;
}

#gitStatsInfo {
  margin-top: 50px;
}

#gitStatsInfo > h1 {
  font-size: 30px;
  color: #2857a4;
  text-decoration: underline;
}
.calendar {
  width: 100%;
}
.calendar * {
  max-width: 100%;
  /* display: block; */
}

/* for medium screen */
@media (min-width: 321px) and (max-width: 768px) {
  #projectSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 320px) {
  #projectSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
    padding: 10px;
  }
}

/* hero section  */

#heroSection {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #efefef;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: larger;
}

#heroSection img {
  height: 90px;
  border-radius: 15px;
}

#heroSection img:hover {
  height: 90px;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heroImageDiv {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 200px;
}

@media (min-width: 321px) and (max-width: 768px) {
  #heroSection {
    width: 80%;
  }
  #heroSection img {
    height: 60px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 320px) {
  #heroSection {
    width: 80%;
  }
  #heroSection img {
    height: 50px;
    border-radius: 15px;
  }
}
/* Project  */
.project-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.project-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.project-description {
  font-size: 1em;
  margin-bottom: 10px;
}

.project-links a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.github-button { background-color: #333; }
.deploy-button { background-color: #4caf50; }
.learn-more-button { background-color: #00bcd4; }

.tech-stack {
  padding: 10px; /* add padding */
  border-radius: 4px; /* add rounded corners */
  margin-top: 10px; /* add margin to separate from other elements */
}

.tech-stack h3 {
  color: rgb(87, 76, 76); /* change the color of the heading */
  margin-bottom: 6px; /* add margin to separate the heading from the list */
}

.tech-stack ul {
  list-style-type: none; /* remove bullet points from the list */
  margin: 0; /* remove margins from the list */
  padding: 0; /* remove padding from the list */
}

.tech-stack li {
  display: inline-block; /* display the list items in a line */
  margin-right: 10px; /* add margin between list items */
  font-size: 0.9em; /* adjust font size of the list items */
  color: #333; /* change the color of the list items */
  font-weight: bolder;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.divider {
  position: relative;
  grid-column: 2 / 3;
  background: #ccc;
  width: 2px;
}

.divider img {
  position: absolute;
  top: -20px;
}

@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .divider {
    display: none;
  }
}

/* skills Section  */
/* skills-section======================================================================================================================= */
.skills.section-padding {
  margin-top: 20px;
  background: rgb(28, 28, 40);
}
.skills h3 {
  font-size: 25px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "ubuntu", sans-serif;
  color: rgb(167, 165, 165);
}

.skills h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "ubuntu", sans-serif;
  color: rgb(167, 165, 165);
}

.skills h2 span {
  /* color: crimson; */
  color: aqua;
}

.skills .tools_and_tech {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 75%;
  margin: auto;
}
.skills .tools_and_tech img,
.tech-stacks img {
  width: 100px;
  padding: 10px;
  background: rgb(53, 53, 68);
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.38, 0.37, 0.17, 0.83);
}
.skills .tools_and_tech img:hover,
.tech-stacks img:hover {
  box-shadow: 0 0 0 1px rgba(251, 251, 251, 0.497), 0 0 5px rgba(0, 0, 0, 0.527);
}
body.dark .skills .tools_and_tech img {
  background-color: rgb(32, 32, 46);
}

body.dark .skills .tools_and_tech img:hover,
body.dark .tech-stacks img:hover {
  box-shadow: 0 0 0 1px rgba(69, 1, 1, 0.3), 0 0 5px rgba(255, 255, 255, 0.527);
}
.skills .tools_and_tech p {
  font-weight: bold;
  color: rgb(204, 125, 125);
  text-align: center;
}
.skills .tools_and_tech a {
  text-decoration: none;
}
